body {
	background: #4e5257 !important;
    }

body:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:	url("https://i.imgur.com/TpOI4DC.png"),
                    	url("https://i.imgur.com/92lgmBN.png"),
                   		url("https://i.imgur.com/ACiIkIG.png") !important;
	background-size: 250px, 200px, 150px;
	animation: snow 16s linear infinite;
} 

@keyframes snow {
	0% {
		background-position:	0px 0px,
								0px 0px,
                         		0px 0px;
	}
	100% {
		background-position:	500px 1000px,
                         		400px 400px,
                         		300px 300px;
	}
}
